.list_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    padding: 0 var(--spacer-sm);
    width: 75%;
    align-self: center;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacer-sm);
}

.word_stat{
    width: 50px;
}

.count{
    text-align: center;
}
.score_wrapper{
    width: 40%;
}
.score{
    display: flex;
    justify-content: space-between;
}
.dash_container{
    display: flex;
    justify-content: space-between;
}

.list_title_wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: var(--spacer-lg);
}
h2{
    padding-bottom: var(--spacer-sm);
}
