.list_wrapper{
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: var(--spacer-sm);
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacer-sm);
}

.word_stat{
    width: 50px;
}

.count{
    text-align: center;
}
.score_wrapper{
    width: 40%;
}
.score{
    display: flex;
    justify-content: space-between;
}
.dash_container{
    display: flex;
    justify-content: space-between;
}
h2{
    padding-bottom: var(--spacer-sm);
}
