.list_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: inherit;
    padding: 0 var(--spacer-sm);
    width: 100%;
    align-self: center;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--spacer-sm);
}

.word_stat{
    width: 50px;
}

.count{
    text-align: center;
}
.score_wrapper{
    width: 40%;
}
.score{
    display: flex;
    justify-content: space-between;
}
.dash_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash_container p{
    text-align: right;
}

.list_title_wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: var(--spacer-lg);
}

.list_title_wrapper button{
    margin-bottom: var(--spacer-lg);
}

h2{
    padding-bottom: var(--spacer-sm);
}

ul{
    max-width: 500px;
}

@media all and (min-width: 400px){
    .list_title_wrapper{
        justify-content: space-evenly;
        flex-direction: row;
    }

    .list_title_wrapper button{
        margin-bottom: 0;
    }

    .list_wrapper{
        width: 90%;
    }
  
    }
